<!-- Receipt Window-->
<div ng-controller="accountModal">
    <script type="text/ng-template" id="account.html">
        <div class="modal-header">
            <div class="col-md-10">
                <h3 class="modal-title">Receipt (#)</h3>
            </div>
            <div class="col-md-2 iconModal">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-print"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="modal-body">
            <table class="table">
                <tr>
                    <td>
                        <div class="col-lg-4"><p>Receipt # </p></div>
                        <div class="col-lg-8"><p>{{ data.account.order_history[0].receiptCode }}</p></div>
                        <div class="col-lg-4"><p>Date :</p></div>
                        <div class="col-lg-8"><p>{{ data.account.order_history[0].date }}</p></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-lg-4"><p>Name</p></div>
                        <div class="col-lg-8"><p>{{ data.account.order_history[index].name }}</p></div>
                        <div class="col-lg-4"><p>Email</p></div>
                        <div class="col-lg-8"><p>{{ data.account.order_history[index].email }}</p></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-lg-4"><p><strong>Total Price</strong></p></div>
                        <div class="col-lg-8"><p align="right"><strong>{{ data.account.order_history[index].total }}</strong></p></div>
                        <div class="col-lg-4"><p><strong>Subtotal Price</strong></p></div>
                        <div class="col-lg-8"><p align="right"><strong>{{ data.account.order_history[index].subtotal }}</strong></p></div>
                        <div class="col-lg-4"><p><strong>Delivery Price</strong></p></div>
                        <div class="col-lg-8"><p align="right"><strong>{{ data.account.order_history[index].deliveryPrice }}</strong></p></div>
                        <div class="col-lg-4"><p><strong>Voucher Discount</strong></p></div>
                        <div class="col-lg-8"><p align="right"><strong>{{ data.account.order_history[index].voucher }} #AF54D54D</strong></p></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-lg-4"><p>Card Name</p></div>
                        <div class="col-lg-8"><p>{{ data.account.order_history[index].cardName }}</p></div>
                        <div class="col-lg-4"><p>Card #</p></div>
                        <div class="col-lg-8"><p>{{ data.account.order_history[index].cardNumber }}</p></div>
                        <div class="col-lg-4"><p>Card Type</p></div>
                        <div class="col-lg-8"><p>{{ data.account.order_history[index].cardType }}</p></div>
                        <div class="col-lg-4"><p>EXP Date</p></div>
                        <div class="col-lg-8"><p>{{ data.account.order_history[index].cardExp }}</p></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-lg-4"><p>Delvery Time</p></div>
                        <div class="col-lg-8"><p>{{ data.account.order_history[index].deliveryTime }}</p></div>
                        <div class="col-lg-4"><p>Delivery Place</p></div>
                        <div class="col-lg-8"><p>{{ data.account.order_history[index].deliveryAdd }}</p></div>
                        <div class="col-lg-4"><p>Payment Type</p></div>
                        <div class="col-lg-8"><p>{{ data.account.order_history[index].payment_type }}</p></div>
                    </td>
                </tr>
                <tr>
                    <td><h5>Order List</h5></td>
                </tr>
                <tr ng-repeat="order in data.account.order_history[index].list track by $index">
                    <td>
                        <div class="col-lg-4"><p>{{ order.name }}</p></div>
                        <div class="col-lg-8"><p align="right">{{ order.price }}</p></div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>
    </script>
</div>

<header>
    <div class="container header-account"></div>
</header>

<section id="account">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 nav-nav"><a ui-sref="home">Home</a> > Account > # </div>
            <div class="col-lg-2 nav-account">
                <div class="text-center"><img src="" class="userpic-lg" align="center"></div>
                <div class="list-group">
                  <a href="#" class="list-group-item active">Account Settings</a>
                  <a href="#" class="list-group-item"><i class="fa fa-user"></i> My Account</a>
                  <a href="#" class="list-group-item"><i class="fa fa-map-marker"></i> Address</a>
                  <a href="#" class="list-group-item"><i class="fa fa-sticky-note"></i> Orders</a>
                  <a href="#" class="list-group-item"><i class="fa fa-heart"></i> Favorite</a>
                  <a href="#" class="list-group-item"><i class="fa fa-pencil"></i> Review</a>
                </div>
            </div>
            <div class="col-lg-10 nav-display">
                <table class="table nav-account">
                    <tr>
                        <td colspan="2"><h4>Account</h4></td>
                    </tr>
                    <tr>
                        <td><p>First Name</p></td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="{{ data.account[0].info.firstname }}" ng-Model="user.firstname">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><p>Last Name</p></td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="{{ data.account[0].info.lastname }}" ng-Model="user.lastname">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><p>Password</p></td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="{{ data.account[0].info.password }}" ng-Model="user.password">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><p>Email</p></td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="{{ data.account[0].info.email }}" ng-Model="user.email">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><button type="button" class="btn btn-primary" ng-click="account.update_info(user)">Save</button></td>
                        <td></td>
                    </tr>
                </table>
                <!-- Address Book -->
                <table class="table">
                    <tr>
                        <td colspan="3"><h4>Address Book</h4></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="list-group">
                                <a href="" class="list-group-item" ng-repeat="add in data.account[0].add" ng-click="display_add($index)">{{ add.address1 }}, {{ add.address2 }}, {{ add.address3 }}, {{ add.city }}, {{ add.state }}, {{ add.zip }}
                                    <i class="sample"><i class="fa fa-times iconModal"></i></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Street Address / Company name" ng-Model="add.address2">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Apt # / Suite" ng-Model="add.address1">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="City" ng-Model="add.city">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="State" ng-Model="add.state">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="ZIP" ng-Model="add.zip">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="More Info" ng-Modal="add.address3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><button type="button" class="btn btn-primary" ng-click="update_add(add, update)">{{ add.button }}</button></td>
                        <td></td>
                    </tr>
                </table>
                <!-- Payment -->
                <table class="table">
                    <tr>
                        <td colspan="3"><h4>Payment</h4></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="list-group">
                                <a href="" class="list-group-item" ng-repeat="card in data.account[0].card" ng-click="display_card($index)">Card # : {{ card.number }} | Expiration Date : {{ card.exp_month }}-{{ card.exp_year }} | CVV : {{ card.cvv }} | ZIP : {{ card.zip }}
                                <i class="sample"><i class="fa fa-times iconModal"></i></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><p>Card Number</p></td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Card Number" ng-Model="card.number">
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><p>Expiration</p></td>
                        <td>
                            <form class="form-inline form-fix">
                                <select class="form-control" ng-Model="card.exp_month">
                                    <option value="" select>Month</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <select class="form-control" ng-Model="card.exp_year">
                                    <option value="" select>Year</option>
                                    <option value="1">2016</option>
                                    <option value="1">2017</option>
                                    <option value="1">2018</option>
                                    <option value="1">2019</option>
                                    <option value="1">2020</option>
                                    <option value="1">2021</option>
                                </select>
                            </form>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><p>CVV</p></td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="CVV" ng-Model="card.cvv">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><p>Billing ZIP</p></td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Billing ZIP" ng-Model="card.zip">
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary" ng-click="update_card(card, index)">{{ card.button }}</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- Order History-->
                <table class="table">
                    <tr>
                        <td><h4>Order's</h4></td>
                    </tr>
                    <tr ng-repeat="order in data.account[0].order_history track by $index">
                        <td>
                            <div class="col-md-12">
                                <ul class="list-inline social-buttons iconPreview" ng-controller="accountModal">
                                    <li><a href="#" ng-click="open($index)"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></li>
                                </ul>
                                <p>Date : March 15, 2016</p>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- Review -->
                <table class="table">
                    <tr>
                        <td><h4>Review</h4></td>
                    </tr>
                    <tr ng-repeat="review in data.account[0].reviews">
                        <td>
                            <div class="col-sm-4"><p>{{ review.date }}</p>{{ review.rest }}<p>{{ review.rating }}</p></div>
                            <div class="col-sm-8"><p>{{ review.text }}</p></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>