<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><i class="fa fa-cutlery"></i></div>
            <div class="intro-heading">fast food. fast delivery.</div>
            <div class="col-lg-3"></div>
            <div class="col-lg-6 text-center locationheader">
                <form>
                    <div class="form-group form-group-lg">
                        <input type="text" class="form-control" placeholder="Enter your Location" ng-model="search">
                    </div>
                    <input type="submit" class="btn btn-xl" value="Search" ui-sref="search"></input>
                </form>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-6"></div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</header>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Favorite</h3>
            </div>
            <div class="col-lg-4 text-center"><h5>Cuisines</h5></div>
            <div class="col-lg-4 text-center"><h5>Restaurant</h5></div>
            <div class="col-lg-4 text-center"><h5>Location</h5></div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <ul class="list-group">
                <li class="list-group-item">Cake</li>
                  <li class="list-group-item">Filipino Cuisines</li>
                  <li class="list-group-item">Pizze Delivery</li>
                  <li class="list-group-item">Western Cuisines</li>
                  <li class="list-group-item">Asian Cuisines</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul class="list-group">
                  <li class="list-group-item">Chowking</li>
                  <li class="list-group-item">Greenwhich</li>
                  <li class="list-group-item">Chooks to GO</li>
                  <li class="list-group-item">Tapa King Makati</li>
                  <li class="list-group-item">Pancake House</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul class="list-group">
                  <li class="list-group-item">Makati</li>
                  <li class="list-group-item">Mandaluyong</li>
                  <li class="list-group-item">Quezon City</li>
                  <li class="list-group-item">Makati</li>
                  <li class="list-group-item">Manila</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="section-heading">Even More Fast With...</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="team-member">
                    <img src="img/app-icon-android.png" alt="">
                    <img src="img/app-icon-ios.png" alt="">
                    <img src="img/app-icon-wp.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h3 class="section-heading"><i class="fa fa-cutlery"></i>    About Us    <i class="fa fa-cutlery"></i></h3></div>
            <div class="col-md-12">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            </div>
        </div>
    </div>
</footer>