<!-- ORDER ADD ON WINDOW -->
<div ng-controller="addOnModal">
            <script type="text/ng-template" id="addOn.html">
                <div class="modal-header">
                    <h3 class="modal-title">...more Add ON</h3>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox">Add on .1</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox">Add on .2</label>
                                </div>        
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">Place Order</button>
                </div>
            </script>
        </div>

<header>
    <div class="container header-profile" ng-repeat="rest in data.restaurant | filter: { name: search }">
        <div class="intro-text">
            <div class="col-lg-12 rest-desc">
                <img src="{{ rest.pic }}" class="rest-pic">
                <h2 class="rest-name">{{ rest.name }}</h2>
                <h3 class="rest-desc">{{ rest.desc }}</h3>
                <p>Open Hours {{ rest.openHours }}:00 - {{ rest.closedHours }}:00</p>
                <span class="label label-success">Open</span><span class="label label-primary">Pre - Order</span><span class="label label-info">Vouchers</span>
            </div>
        </div>
    </div>
</header>

<!-- Search Section -->
<section id="services">
    <div class="container container-order" ng-repeat="menu_type in data.restaurant | filter: { name: search }">
        <div class="row">
            <!-- Link -->
            <div class="col-lg-12">
                <ul class="btn-nav-list list-inline pull-left">
                    <li active><i class="fa fa-2x fa-shopping-bag"></i></li>
                    <li><i class="fa fa-2x fa-star"></i></li>
                    <li><i class="fa fa-2x fa-question"></i></li>
                </ul>
            </div>

                <section ui-view>
                </section>
            
        </div>
    </div>
</section>